$("#products-dashboard").empty().append("#{ j render 'analytics/products', products: @products }");
$("#items-dashboard").empty().append("#{ j render 'analytics/items', items: @items }");
$("#customers-orders").empty().append("#{ j render 'analytics/customers_orders', customers_orders: @customers_orders }");
